src/*.exe
src/nwo
src/nwod
src/test_nwo
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.nwo
#compilation and Qt preprocessor part
*.qm
Makefile
nwo-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
